@page "/moderation/cases/{pageNumber:int}"
@using LBPUnion.ProjectLighthouse.Servers.Website.Extensions
@using LBPUnion.ProjectLighthouse.Types.Entities.Moderation
@model LBPUnion.ProjectLighthouse.Servers.Website.Pages.Moderation.CasePage

@{
    Layout = "Layouts/BaseLayout";
    Model.Title = "Cases";

    string timeZone = Model.GetTimeZone();
}

<p>There are @Model.CaseCount total cases, @Model.ExpiredCaseCount of which are queued for dismissal, and @Model.DismissedCaseCount of which have been dismissed.</p>

<form action="/moderation/cases/0">
    <div class="ui icon input">
        <input type="text" autocomplete="off" name="name" placeholder="Search by affected ID..." value="@Model.SearchValue">
        <i class="search icon"></i>
    </div>
</form>

<div class="ui divider"></div>

@foreach (ModerationCaseEntity @case in Model.Cases)
{
    @(await Html.PartialAsync("Partials/ModerationCasePartial", @case, ViewData.WithTime(timeZone)))
}

@if (Model.PageNumber != 0)
{
    <a href="/moderation/cases/@(Model.PageNumber - 1)@(Model.SearchValue?.Length == 0 ? "" : "?name=" + Model.SearchValue)">Previous Page</a>
}
@(Model.PageNumber + 1) / @(Model.PageAmount)
@if (Model.PageNumber < Model.PageAmount - 1)
{
    <a href="/moderation/cases/@(Model.PageNumber + 1)@(Model.SearchValue?.Length == 0 ? "" : "?name=" + Model.SearchValue)">Next Page</a>
}