@page "/moderation/newCase"
@using LBPUnion.ProjectLighthouse.Localization.StringLists
@using LBPUnion.ProjectLighthouse.Types.Entities.Moderation
@model LBPUnion.ProjectLighthouse.Servers.Website.Pages.Moderation.NewCasePage

@{
    Layout = "Layouts/BaseLayout";
    Model.Title = "New Moderation Case";

    string timeZone = (string?)ViewData["TimeZone"] ?? TimeZoneInfo.Local.Id;
    TimeZoneInfo timeZoneInfo = TimeZoneInfo.FindSystemTimeZoneById(timeZone);
}

<form method="post" class="ui form center aligned">
    @Html.AntiForgeryToken()

    @if (!string.IsNullOrWhiteSpace(Model.Error))
    {
        @await Html.PartialAsync("Partials/ErrorModalPartial", (Model.Translate(GeneralStrings.Error), Model.Error), ViewData)
    }

    <input type="hidden" name="type" value="@((int)Model.Type)"/>
    <input type="hidden" name="affectedId" value="@Model.AffectedId"/>
    
    <div class="ui yellow segment">
        <span><b>Case Type:</b> @Model.Type.ToString()</span>
        <span><b>Affected User:</b> @Model.AffectedUser!.Username (@Model.AffectedId)</span>
    </div>
    
    <div class="ui yellow segment">
        <div class="field">
            <label style="text-align: left" for="reason">Reason</label>
            <textarea name="reason" id="reason" spellcheck="false" rows="2"></textarea>
        </div>
        <div class="field">
            <label style="text-align: left" for="mod-notes">Mod Notes</label>
            <textarea name="modNotes" id="mod-notes" spellcheck="false" rows="2"></textarea>
        </div>
    </div>
    
    <div class="ui yellow segment">
        <div class="field">
            <label style="text-align: left" for="expires">Expiration</label>
            <input type="datetime-local" name="expires" id="expires" spellcheck="false" rows="2" required />
        </div>
        <button type="button" class="ui yellow button" onclick="setPermanent()">Permanent Ban</button>
    </div>

    <div class="ui red segment">
        <div style="margin-bottom: 1em;">
            <i class="ui icon warning"></i><i>Remember to dismiss your case after expiration otherwise it will remain in effect!</i>
        </div>
        <button type="submit" class="ui red button">Create Case</button>
    </div>
    
    <hr />
    
    <div class="ui blue segment">
        <label style="text-align: left" for="mod-history">Moderation History</label> 
        <select class="ui fluid dropdown" id="mod-history">
            @if (Model.AffectedHistory.Count != 0)
            {
                <option disabled selected>--- Previous moderation history for @Model.AffectedUser.Username (@Model.AffectedId) ---</option>
                @foreach (ModerationCaseEntity moderationCase in Model.AffectedHistory)
                {
                    <option disabled style="color: black;">
                        @moderationCase.Type.ToString() by @moderationCase.CreatorUsername
                        on @TimeZoneInfo.ConvertTime(moderationCase.CreatedAt, timeZoneInfo).ToString("M/d/yyyy @ h:mm tt")
                        with reason "@moderationCase.Reason"
                    </option>
                }
            }
            else
            {
                <option disabled selected>No moderation history found for user @Model.AffectedUser.Username (@Model.AffectedId)</option>
            }
        </select>
    </div>
</form> 

<script>
    function setPermanent() {
        document.getElementById("expires").value = "9999-12-31T23:59";
    }
</script>