@page "/moderation/newCase"
@using LBPUnion.ProjectLighthouse.Localization.StringLists
@using LBPUnion.ProjectLighthouse.Servers.Website.Extensions
@using LBPUnion.ProjectLighthouse.Types.Entities.Moderation
@using LBPUnion.ProjectLighthouse.Types.Moderation.Cases
@model LBPUnion.ProjectLighthouse.Servers.Website.Pages.Moderation.NewCasePage

@{
    Layout = "Layouts/BaseLayout";
    Model.Title = "New Moderation Case";

    string timeZone = (string?)ViewData["TimeZone"] ?? TimeZoneInfo.Local.Id;
    TimeZoneInfo timeZoneInfo = TimeZoneInfo.FindSystemTimeZoneById(timeZone);
}

<form method="post" class="ui form center aligned">
    @Html.AntiForgeryToken()

    @if (!string.IsNullOrWhiteSpace(Model.Error))
    {
        @await Html.PartialAsync("Partials/ErrorModalPartial", (Model.Translate(GeneralStrings.Error), Model.Error), ViewData)
    }

    <input type="hidden" name="type" value="@((int)Model.Type)"/>
    <input type="hidden" name="affectedId" value="@Model.AffectedId"/>

    <div class="ui yellow segment">
        <div>
            <b>Case Type:</b> @Model.Type.ToString()
        </div>
        @if (Model.Type.AffectsUser())
        {
            <div>
                <b>Affected User:</b> <a href="/user/@Model.AffectedId">@Model.AffectedUser!.Username (id: @Model.AffectedId)</a>
            </div>    
        }
        else if (Model.Type.AffectsLevel())
        {
            <div>
                <b>Affected Level:</b> <a href="/user/@Model.AffectedId">@Model.AffectedSlot!.Name (id: @Model.AffectedId)</a>
            </div>    
        }
    </div>

    <div class="ui yellow segment">
        <div class="field">
            <label style="text-align: left" for="reason">Reason</label>
            <textarea name="reason" id="reason" spellcheck="true" rows="1"></textarea>
        </div>
        <div class="field">
            <label style="text-align: left" for="mod-notes">Mod Notes</label>
            <textarea name="modNotes" id="mod-notes" spellcheck="true" rows="1"></textarea>
        </div>
        <div class="field">
            <label style="text-align: left" for="expires">Expiration</label>
            <input type="datetime-local" name="expires" id="expires" required/>
        </div>
        <button type="button" class="ui yellow button" onclick="document.getElementById('expires').value = '9999-12-31T23:59';">
            Set Expiration to Permanent
        </button>
    </div>

    @if (Model.Type.AffectsUser())
    {
        <div class="ui blue segment">
            <details style="transition: max-height 0.25s ease-in-out;">
                <summary>Moderation history for user <a href="/user/@Model.AffectedId">@Model.AffectedUser!.Username</a></summary>
                <div class="ui list" style="padding-left: 1vh;">
                    @if (Model.AffectedHistory.Count != 0)
                    {
                        @foreach (ModerationCaseEntity moderationCase in Model.AffectedHistory)
                        {
                            <div class="item">
                                <i class="@moderationCase.Type.GetCaseTypeIcon()"></i>
                                <div class="content">
                                    <b>@moderationCase.Type.ToString()</b> by <a href="/user/@moderationCase.CreatorId">@moderationCase.CreatorUsername</a>
                                    on <b>@TimeZoneInfo.ConvertTime(moderationCase.CreatedAt, timeZoneInfo).ToString("M/d/yyyy @ h:mm tt")</b>
                                    with reason <b>@(!string.IsNullOrWhiteSpace(moderationCase.Reason) ? moderationCase.Reason : "No reason provided")</b>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="item">
                            <i class="ui icon check"></i>
                            <div class="content">
                                No moderation history found for user <a href="/user/@Model.AffectedId">@Model.AffectedUser!.Username</a>
                            </div>
                        </div>
                    }
                </div>
            </details>
        </div>    
    }

    <div class="ui red segment">
        <div style="margin-bottom: 1em;">
            <i class="ui icon warning"></i><i>Remember to dismiss your case after expiration otherwise it will remain in effect!</i>
        </div>
        <button type="submit" class="ui red button">Create Case</button>
    </div>
</form>