@page "/moderation/newCase"
@using LBPUnion.ProjectLighthouse.Localization.StringLists
@model LBPUnion.ProjectLighthouse.Servers.Website.Pages.Moderation.NewCasePage

@{
    Layout = "Layouts/BaseLayout";
    Model.Title = $"New {Model.Type.ToString()} Case";
}

<form method="post">
    @Html.AntiForgeryToken()
    
    @if (!string.IsNullOrWhiteSpace(Model.Error))
    {
        <div class="ui negative message">
            <div class="header">
                @Model.Translate(GeneralStrings.Error)
            </div>
            <p style="white-space: pre-line">@Model.Error</p>
        </div>
    }
    
    <input type="hidden" name="type" value="@((int)Model.Type)"/>
    <input type="hidden" name="affectedId" value="@Model.AffectedId"/>

    <div class="ui left labeled input">
        <label for="reason" class="ui blue label">Reason: </label>
        <input type="text" name="reason" id="reason"/>
    </div><br/><br/>
    
    <div class="ui left labeled input">
        <label for="mod-notes" class="ui blue label">Mod Notes: </label>
        <input type="text" name="modNotes" id="mod-notes"/>
    </div><br/><br/>

    <div class="ui left labeled input">
        <label for="expires" class="ui blue label">Expires: </label>
        <input type="datetime-local" name="expires" id="expires"/>
    </div><br/><br/>

    <br/><input type="submit" value="Create case" class="ui red button"/>
</form>