@using System.Web
@using LBPUnion.ProjectLighthouse.Database
@using LBPUnion.ProjectLighthouse.Localization
@using LBPUnion.ProjectLighthouse.Servers.Website.Extensions
@using LBPUnion.ProjectLighthouse.Types.Entities.Interaction
@using LBPUnion.ProjectLighthouse.Types.Entities.Profile
@inject DatabaseContext Database

@{
    string language = (string?)ViewData["Language"] ?? LocalizationManager.DefaultLang;
    string timeZone = (string?)ViewData["TimeZone"] ?? TimeZoneInfo.Local.Id;
    TimeZoneInfo timeZoneInfo = TimeZoneInfo.FindSystemTimeZoneById(timeZone);
    int pageOwnerId = (int?)ViewData["PageOwner"] ?? 0;
}

<div class="ui yellow segment" id="comments">
    @if (Model.Comments.Count == 0 && Model.CommentsEnabled)
    {
        <span><i>There are no comments.</i></span>
    }
    else if (!Model.CommentsEnabled)
    {
        <span><i>Comments are disabled.</i></span>
    }
    else
    {
        int count = Model.Comments.Count;
        <p>There @(count == 1 ? "is" : "are") @count comment@(count == 1 ? "" : "s").</p>
    }

    @if (Model.CommentsEnabled && Model.User != null)
    {
        <div class="ui divider"></div>
        <form class="ui reply form" action="@Url.RouteUrl(ViewContext.RouteData.Values)/postComment" method="post">
            <div class="field">
                <textarea style="min-height: 70px; height: 70px; max-height:120px" maxlength="100" name="msg"></textarea>
            </div>
            <input type="submit" class="ui blue button">
        </form>
        @if (Model.Comments.Count > 0)
        {
            <div class="ui divider"></div>
        }
    }
    
    @{
        int i = 0;
        foreach (KeyValuePair<CommentEntity, RatedCommentEntity?> commentAndReaction in Model.Comments)
        {
            CommentEntity comment = commentAndReaction.Key;
            int yourThumb = commentAndReaction.Value?.Rating ?? 0;
            DateTimeOffset timestamp = DateTimeOffset.FromUnixTimeSeconds(comment.Timestamp / 1000).ToLocalTime();

            string decodedMessage = HttpUtility.HtmlDecode(comment.GetCommentMessage(Database));
            
            string? url = Url.RouteUrl(ViewContext.RouteData.Values);
            if (url == null) continue;

            int rating = comment.ThumbsUp - comment.ThumbsDown;

            <div style="display: flex" id="@comment.CommentId">
                @{
                    string style = "";
                    if (Model.User?.UserId == comment.PosterUserId)
                    {
                        style = "pointer-events: none";
                    }
                }
                <div class="voting" style="@(style)">
                    <a href="@url/rateComment?commentId=@(comment.CommentId)&rating=@(yourThumb == 1 ? 0 : 1)">
                        <i class="fitted @(yourThumb == 1 ? "green" : "grey") arrow up link icon" style="display: block"></i>
                    </a>
                    <span style="text-align: center; margin: auto; @(rating < 0 ? "margin-left: -5px" : "")">@(rating)</span>
                    <a href="@url/rateComment?commentId=@(comment.CommentId)&rating=@(yourThumb == -1 ? 0 : -1)">
                        <i class="fitted @(yourThumb == -1 ? "red" : "grey") arrow down link icon" style="display: block"></i>
                    </a>
                </div>

                <div class="comment">
                    <b>@await comment.Poster.ToLink(Html, ViewData, language): </b>
                    @if (comment.Deleted)
                    {
                        <i>
                            <span>@decodedMessage</span>
                        </i>
                    }
                    else
                    {
                        <span>@decodedMessage</span>
                    }
                    @if (((Model.User?.IsModerator ?? false) || Model.User?.UserId == comment.PosterUserId || Model.User?.UserId == pageOwnerId) && !comment.Deleted)
                    {
                        <button class="ui red icon button" style="display:inline-flex; float: right" onclick="deleteComment(@comment.CommentId)">
                            <i class="trash icon"></i>
                        </button>
                    }
                    <p>
                        <i>@TimeZoneInfo.ConvertTime(timestamp, timeZoneInfo).ToString("M/d/yyyy @ h:mm:ss tt")</i>
                    </p>
                    @if (i != Model.Comments.Count - 1)
                    {
                        <div class="ui divider"></div>
                    }
                </div>
            </div>
            i++;
        }
    }
    <script>
        function deleteComment(commentId){
            if (window.confirm("Are you sure you want to delete this?\nThis action cannot be undone.")){
                window.location.hash = "comments";
                window.location.href = "/moderation/deleteComment/" + commentId + "?callbackUrl=" + this.window.location;
            }
        }
    </script>
</div>