@using LBPUnion.ProjectLighthouse
@using LBPUnion.ProjectLighthouse.Administration
@using LBPUnion.ProjectLighthouse.Configuration
@using LBPUnion.ProjectLighthouse.Levels
@using LBPUnion.ProjectLighthouse.PlayerData.Profiles
@model LBPUnion.ProjectLighthouse.Administration.ModerationCase

@{
    Database database = new();
    string color = Model.Expired ? "red" : "yellow";
}

<div class="ui @color segment">
    <h2>Case #@Model.CaseId: @Model.CaseType</h2>
    @if (Model.Expired)
    {
        <h3 class="ui red header">
            This case expired on @Model.CaseExpires!.Value.ToString("MM/dd/yyyy @ h:mm tt").
        </h3>
    }

    <span>
        Case created by <a href="/user/@Model.CaseCreator!.UserId">@Model.CaseCreator.Username</a>
        on @Model.CaseCreated.ToString("MM/dd/yyyy @ h:mm tt")
    </span><br>
    
    @if (Model.CaseType.AffectsLevel())
    {
        Slot slot = await Model.GetSlotAsync(database);
        <p><strong>Affected level:</strong> <a href="/slot/@slot.SlotId">@slot.Name</a></p>
    }
    else if (Model.CaseType.AffectsUser())
    {
        User user = await Model.GetUserAsync(database);
        <p><strong>Affected user:</strong> <a href="/user/@user.UserId">@user.Username</a></p>
    }
    
    @if (!string.IsNullOrWhiteSpace(Model.CaseDescription))
    {
        <h3>Description</h3>
        <pre>@Model.CaseDescription</pre>
    }
    else
    {
        <b>No description was provided.</b>
    }
</div>