@using System.Web
@using LBPUnion.ProjectLighthouse
@using LBPUnion.ProjectLighthouse.Configuration
@using LBPUnion.ProjectLighthouse.Localization
@using LBPUnion.ProjectLighthouse.PlayerData
@using LBPUnion.ProjectLighthouse.PlayerData.Profiles
@using LBPUnion.ProjectLighthouse.Servers.Website.Extensions
@using Microsoft.EntityFrameworkCore
@model LBPUnion.ProjectLighthouse.Levels.Slot

@{
    User? user = (User?)ViewData["User"];

    await using Database database = new();

    string slotName = HttpUtility.HtmlDecode(string.IsNullOrEmpty(Model!.Name) ? "Unnamed Level" : Model.Name);

    bool isMobile = (bool?)ViewData["IsMobile"] ?? false;
    bool mini = (bool?)ViewData["IsMini"] ?? false;
    string language = (string?)ViewData["Language"] ?? LocalizationManager.DefaultLang;
    string timeZone = (string?)ViewData["TimeZone"] ?? TimeZoneInfo.Local.Id;
    TimeZoneInfo timeZoneInfo = TimeZoneInfo.FindSystemTimeZoneById(timeZone);

    bool isQueued = false;
    bool isHearted = false;

    if (user != null)
    {
        isQueued = await database.QueuedLevels.FirstOrDefaultAsync(h => h.SlotId == Model.SlotId && h.UserId == user.UserId) != null;
        isHearted = await database.HeartedLevels.FirstOrDefaultAsync(h => h.SlotId == Model.SlotId && h.UserId == user.UserId) != null;
    }

    string callbackUrl = (string)ViewData["CallbackUrl"]!;
    bool showLink = (bool?)ViewData["ShowLink"] ?? false;

    string iconHash = Model.IconHash;
    if (string.IsNullOrWhiteSpace(iconHash) || iconHash.StartsWith('g')) iconHash = ServerConfiguration.Instance.WebsiteConfiguration.MissingIconHash;
}
<div class="card">
    @{
        int size = isMobile || mini ? 50 : 100;
        bool isAdventure = Model.IsAdventurePlanet;
        string adventureStyle = isAdventure ? "-webkit-mask-image: url(/assets/advSlotCardMask.png); -webkit-mask-size: contain; border-radius: 0%;" : "";
    }
    <div>
        <img src=@(isAdventure ? "/assets/advSlotCardOverlay.png" : "/assets/slotCardOverlay.png") style="min-width: @(size)px; width: @(size)px; height: @(size)px; pointer-events: none; position: absolute; z-index: 3;">
        <img src="~/assets/slotCardBackground.png" style="min-width: @(size)px; width: @(size)px; height: @(size)px; position: absolute; z-index: 1; @(adventureStyle)">
        <img class="cardIcon slotCardIcon" src="/gameAssets/@iconHash" style="min-width: @(size)px; width: @(size)px; height: @(size)px; position: relative; z-index: 2; @(adventureStyle)"  
             onerror="this.onerror='';this.src='/gameAssets/@ServerConfiguration.Instance.WebsiteConfiguration.MissingIconHash'">
    </div>
    <div class="cardStats">
        @if (!mini)
        {
            @if (showLink)
            {
                <h2>
                    <a href="~/slot/@Model.SlotId">@slotName</a>
                </h2>
            }
            else
            {
                <h1>
                    @slotName
                </h1>
            }
        }
        else
        {
            @if (showLink)
            {
                <h3>
                    <a href="~/slot/@Model.SlotId">@slotName</a>
                </h3>
            }
            else
            {
                <h3>
                    @slotName
                </h3>
            }
        }

        <div class="cardStatsUnderTitle">
            <i class="pink heart icon" title="Hearts"></i> <span>@Model.Hearts</span>
            <i class="blue play icon" title="Plays"></i> <span>@Model.PlaysUnique</span>
            <i class="green thumbs up icon" title="Yays"></i> <span>@Model.Thumbsup</span>
            <i class="red thumbs down icon" title="Boos"></i> <span>@Model.Thumbsdown</span>

            @if (Model.GameVersion == GameVersion.LittleBigPlanet1)
            {
                <i class="yellow star icon" title="Star Rating"></i>
                <span>@(Math.Round(Model.RatingLBP1 * 10) / 10)</span>
            }
        </div>
        @if (Model.Creator != null)
        {
            string date = "";
            if (!mini)
                date = " on " + TimeZoneInfo.ConvertTime(DateTimeOffset.FromUnixTimeMilliseconds(Model.FirstUploaded), timeZoneInfo).DateTime.ToShortDateString();
            <p>
                <i>Created by @await Model.Creator.ToLink(Html, ViewData, language) in @Model.GameVersion.ToPrettyString()@date</i>
            </p>
        }
    </div>
    <div class="cardButtons">
            <br>
            @if (user != null && !mini && (user.IsModerator || user.UserId == Model.CreatorId))
            {
                <a class="ui blue tiny button" href="/slot/@Model.SlotId/settings" title="Settings">
                    <i class="cog icon" style="margin: 0"></i>
                </a>
            }
        </div>
    <div class="cardButtons" style="margin-left: 0">
        <br>
        @if (user != null && !mini)
        {
            if (isHearted)
            {
                <a class="ui pink tiny button" href="/slot/@Model.SlotId/unheart?callbackUrl=@callbackUrl" title="Unheart">
                    <i class="broken heart icon" style="margin: 0"></i>
                </a>
            }
            else
            {
                <a class="ui pink tiny button" href="/slot/@Model.SlotId/heart?callbackUrl=@callbackUrl" title="Heart">
                    <i class="heart icon" style="margin: 0"></i>
                </a>
            }

            if (isQueued)
            {
                <a class="ui yellow tiny button" href="/slot/@Model.SlotId/unqueue?callbackUrl=@callbackUrl" title="Unqueue">
                    <i class="bell slash icon" style="margin: 0"></i>
                </a>
            }
            else
            {
                <a class="ui yellow tiny button" href="/slot/@Model.SlotId/queue?callbackUrl=@callbackUrl" title="Queue">
                    <i class="bell icon" style="margin: 0"></i>
                </a>
            }
        }
    </div>
</div>