@using LBPUnion.ProjectLighthouse.Database
@using LBPUnion.ProjectLighthouse.Localization
@using LBPUnion.ProjectLighthouse.Servers.Website.Extensions;
@model LBPUnion.ProjectLighthouse.Types.Entities.Profile.UserEntity

@{
    bool showLink = (bool?)ViewData["ShowLink"] ?? false;
    bool isMobile = (bool?)ViewData["IsMobile"] ?? false;
    string language = (string?)ViewData["Language"] ?? LocalizationManager.DefaultLang;
    string timeZone = (string?)ViewData["TimeZone"] ?? TimeZoneInfo.Local.Id;
}

<div class="card">
    @{
        int size = isMobile ? 50 : 100;
    }
    <div class="cardIcon userCardIcon" style="background-image: url('/gameAssets/@Model.WebsiteAvatarHash'); min-width: @(size)px; width: @(size)px; height: @(size)px; background-position: center center; background-size: cover; background-repeat: no-repeat">
    </div>
    <div class="cardStats">
        @if (showLink)
        {
            <h2 style="margin-bottom: 2px;">
                <a href="~/user/@Model.UserId">@Model.Username</a>
                    @if (Model.IsModerator)
                    {
                        <span class="permissionBadge" style="background-color: @Model.PermissionLevel.ToHtmlColor();">
                            @Model.PermissionLevel.ToString()
                        </span>
                    }
            </h2>
        }
        else
        {
            <h1 style="margin-bottom: 2px;">
                @Model.Username
                @if (Model.IsModerator)
                {
                    <span class="permissionBadge" style="background-color: @Model.PermissionLevel.ToHtmlColor();">
                        @Model.PermissionLevel.ToString()
                    </span>
                }
            </h1>
        }
        @{
            await using DatabaseContext context = DatabaseContext.CreateNewInstance();

            int hearts = Model.GetHeartCount(context);
            int comments = Model.GetCommentCount(context);
            int levels = Model.GetUsedSlotCount(context);
            int photos = Model.GetUploadedPhotoCount(context);
        }
        <span>
            <i>@Model.GetStatus(context).ToTranslatedString(language, timeZone)</i>
        </span>
        <div class="cardStatsUnderTitle">
            <i class="pink heart icon" title="Hearts"></i> <span>@hearts</span>
            <i class="blue comment icon" title="Comments"></i> <span>@comments</span>
            <i class="green upload icon" title="Uploaded Levels"></i><span>@levels</span>
            <i class="purple camera icon" title="Uploaded Photos"></i><span>@photos</span>
        </div>
    </div>
</div>