@using LBPUnion.ProjectLighthouse.Localization
@model LBPUnion.ProjectLighthouse.Types.Entities.Profile.User

@{
    bool showLink = (bool?)ViewData["ShowLink"] ?? false;
    bool isMobile = (bool?)ViewData["IsMobile"] ?? false;
    string language = (string?)ViewData["Language"] ?? LocalizationManager.DefaultLang;
    string timeZone = (string?)ViewData["TimeZone"] ?? TimeZoneInfo.Local.Id;
}

<div class="card">
    @{
        int size = isMobile ? 50 : 100;
    }
    <div class="cardIcon userCardIcon" style="background-image: url('/gameAssets/@Model.WebsiteAvatarHash'); min-width: @(size)px; width: @(size)px; height: @(size)px; background-position: center center; background-size: cover; background-repeat: no-repeat">
    </div>
    <div class="cardStats">
        @if (showLink)
        {
            <h2 style="margin-bottom: 2px;">
                <a href="~/user/@Model.UserId">@Model.Username</a>
                @if (Model.IsAdmin)
                {
                    <span style="width:auto;height:auto;color:white;background-color:red;border:0px solid black;border-radius:50px;font-weight:200;font-size:10pt;padding:1px;padding-left:6px;padding-right:6px;vertical-align:middle;">
                        Administrator
                    </span>
                }
                else if (Model.IsModerator)
                {
                    <span style="width:auto;height:auto;color:white;background-color:rgb(200, 130, 0);border:0px solid black;border-radius:50px;font-weight:200;font-size:10pt;padding:1px;padding-left:6px;padding-right:6px;vertical-align:middle;">
                        Moderator
                    </span>
                }
            </h2>
        }
        else
        {
            <h1 style="margin-bottom: 2px;">
                @Model.Username
                @if (Model.IsAdmin)
                {
                    <span style="width:auto;height:auto;color:white;background-color:red;border:0px solid black;border-radius:50px;font-weight:200;font-size:10pt;padding:1px;padding-left:6px;padding-right:6px;vertical-align:middle;">
                        Administrator
                    </span>
                }
                else if (Model.IsModerator)
                {
                    <span style="width:auto;height:auto;color:white;background-color:rgb(200, 130, 0);border:0px solid black;border-radius:50px;font-weight:200;font-size:10pt;padding:1px;padding-left:6px;padding-right:6px;vertical-align:middle;">
                        Moderator
                    </span>
                }
            </h1>
        }
        <span>
            <i>@Model.Status.ToTranslatedString(language, timeZone)</i>
        </span>
        <div class="cardStatsUnderTitle">
            <i class="pink heart icon" title="Hearts"></i> <span>@Model.Hearts</span>
            <i class="blue comment icon" title="Comments"></i> <span>@Model.Comments</span>
            <i class="green upload icon" title="Uploaded Levels"></i><span>@Model.UsedSlots</span>
            <i class="purple camera icon" title="Uploaded Photos"></i><span>@Model.PhotosByMe</span>
        </div>
    </div>
</div>