@page "/debug/roomVisualizer"
@using LBPUnion.ProjectLighthouse.Helpers
@using LBPUnion.ProjectLighthouse.Types
@using LBPUnion.ProjectLighthouse.Types.Match
@model LBPUnion.ProjectLighthouse.Pages.Debug.RoomVisualizerPage

@{
    Layout = "Layouts/BaseLayout";
    Model.Title = "Debug - Room Visualizer";
}

<meta http-equiv="refresh" content="5">

<p>This page will automatically refresh every 5 seconds.</p>
<p>@RoomHelper.Rooms.Count rooms</p>

@foreach (Room room in RoomHelper.Rooms)
{
    <div class="ui blue inverted segment">
        <h2>Room @room.RoomId</h2>
        <p>@room.Players.Count players, state is @room.State, version is @room.RoomVersion.ToPrettyString()</p>
        <p>Slot type: @room.Slot.SlotType, slot id: @room.Slot.SlotId</p>
        @foreach (User player in room.Players)
        {
            <div class="ui segment">@player.Username</div>
        }
    </div>
}