@page "/setup2fa"
@using LBPUnion.ProjectLighthouse.Localization.StringLists
@model LBPUnion.ProjectLighthouse.Servers.Website.Pages.TwoFactor.SetupTwoFactorPage

@{
    Layout = "Layouts/BaseLayout";
    Model.Title = @Model.Translate(TwoFactorStrings.EnableTwoFactor);
}

@if (!string.IsNullOrWhiteSpace(Model.QrCode))
{
    <div class="ui center segment center aligned">
        <h2>@Model.Translate(TwoFactorStrings.QrTitle)</h2>
        @if (Model.User?.TwoFactorRequired ?? false)
        {
            <p>@Model.Translate(TwoFactorStrings.TwoFactorRequired)</p>
        }
        <img src="@Model.QrCode" alt="2 Factor QR Code"/>
        <p>@Model.Translate(TwoFactorStrings.QrDescription)</p>
        
        @await Html.PartialAsync("Partials/TwoFactorPartial", new ViewDataDictionary(ViewData)
        {
            {
                "SubmitUrl", "/setup2fa"
            },
            {
                "Error", Model.Error
            },
        })
    </div>
}
else
{
    <div class="ui center segment center aligned">
        <h1 class="ui negative message">IMPORTANT</h1>
        <h2>@Model.Translate(TwoFactorStrings.BackupCodeTitle)</h2>
        <p>@Model.Translate(TwoFactorStrings.BackupCodeDescription)
            <br/>@Model.Translate(TwoFactorStrings.BackupCodeDescription2)
        </p>
        <h3>
            @foreach (string backupCode in Model.User!.TwoFactorBackup.Split(","))
            {
                @backupCode<br/>
            }
        </h3>
        <a class="ui green button" href="/">
            <i class="check icon"></i>
            <span>@Model.Translate(TwoFactorStrings.BackupCodeConfirmation)</span>
        </a>
    </div>
}