@using LBPUnion.ProjectLighthouse.Localization
@model LBPUnion.ProjectLighthouse.PlayerData.Profiles.User

@{
    string language = (string?)ViewData["Language"] ?? LocalizationManager.DefaultLang;
    string timeZone = (string?)ViewData["TimeZone"] ?? TimeZoneInfo.Local.Id;
    bool includeStatus = (bool?)ViewData["IncludeStatus"] ?? false;
    string userStatus = includeStatus ? Model.Status.ToTranslatedString(language, timeZone) : "";
}

<a href="/user/@Model.UserId" title="@userStatus" class="user-link">
    <img src="/gameAssets/@Model.WebsiteAvatarHash" alt=""/>

    if (@Model.IsAdmin)
    {
        <span style="color: red; font-weight: 600;">
            @Model.Username
        </span>
    }
    else if (@Model.IsModerator)
    {
        <span style="color: rgb(200, 130, 0); font-weight: 600;">
            @Model.Username
        </span>
    }
    else
    {
        @Model.Username
    }

</a>