@page "/"
@using LBPUnion.ProjectLighthouse.Helpers.Extensions
@using LBPUnion.ProjectLighthouse.Types
@using LBPUnion.ProjectLighthouse.Types.Levels
@using LBPUnion.ProjectLighthouse.Types.Settings
@model LBPUnion.ProjectLighthouse.Pages.LandingPage

@{
    Layout = "Layouts/BaseLayout";
    Model.ShowTitleInPage = false;
    bool isMobile = this.Request.IsMobile();
}
<h1>Welcome to <b>Project Lighthouse</b>!</h1>

@if (Model.User != null)
{
    <p>You are currently logged in as <b>@Model.User.Username</b>.</p>
    if (ServerSettings.Instance.UseExternalAuth && Model.AuthenticationAttemptsCount > 0)
    {
        <p>
            <b>You have @Model.AuthenticationAttemptsCount authentication attempts pending. Click <a href="/authentication">here</a> to view them.</b>
        </p>
    }
}

@if (Model.PlayersOnlineCount == 1)
{
    <p>There is 1 user currently online:</p>
    @foreach (User user in Model.PlayersOnline)
    {
        <a href="/user/@user.UserId" title="@user.Status.ToString()">@user.Username</a>
    }
}

else if (Model.PlayersOnlineCount == 0)
{
    <p>There are no users online. Why not hop on?</p>
}
else
{
    <p>There are currently @Model.PlayersOnlineCount users online:</p>
    @foreach (User user in Model.PlayersOnline)
    {
        <a href="/user/@user.UserId" title="@user.Status.ToString()">@user.Username</a>
    }
}

<br>

<div class="@(isMobile ? "" : "ui center aligned grid")">
    <div class="eight wide column">
        <div class="ui pink segment">
            <h1><i class="ribbon icon"></i>Latest Team Picks</h1>
            <div class="ui divider"></div>
            <div class="ui left aligned segment">
                @foreach (Slot slot in Model.LatestTeamPicks)
                {
                    @await Html.PartialAsync("Partials/SlotCardPartial", slot, Model.GetSlotViewData(slot.SlotId, isMobile))
                    <br>
                }
            </div>
        </div>
    </div>
    @if (isMobile)
    {
        <br>
    }
    <div class="eight wide column">
        <div class="ui blue segment">
            <h1><i class="certificate icon"></i>Newest Levels</h1>
            <div class="ui divider"></div>
            <div class="ui left aligned segment">
                @foreach (Slot slot in Model.NewestLevels)
                {
                    @await Html.PartialAsync("Partials/SlotCardPartial", slot, Model.GetSlotViewData(slot.SlotId, isMobile))
                    <br>
                }
            </div>
        </div>
    </div>
</div>