@page "/"
@using LBPUnion.ProjectLighthouse.Types
@using LBPUnion.ProjectLighthouse.Types.Settings
@model LBPUnion.ProjectLighthouse.Pages.LandingPage

@{
    Layout = "Layouts/BaseLayout";
    Model.ShowTitleInPage = false;
}
<h1>Welcome to Project Lighthouse!</h1>

@if (Model.User != null)
{
    <p>You are currently logged in as <b>@Model.User.Username</b>.</p>
    if (ServerSettings.Instance.UseExternalAuth && Model.AuthenticationAttemptsCount > 0)
    {
        <p>
            <b>You have @Model.AuthenticationAttemptsCount authentication attempts pending. Click <a href="/authentication">here</a> to view them.</b>
        </p>
    }
}

@if (Model.PlayersOnlineCount == 1)
{
    <p>There is 1 user currently online:</p>
    @foreach (User user in Model.PlayersOnline)
    {
        <a href="/user/@user.UserId" title="@user.Status.ToString()">@user.Username</a>
    }
}

else if (Model.PlayersOnlineCount == 0)
{
    <p>There are no users online. Why not hop on?</p>
}
else
{
    <p>There are currently @Model.PlayersOnlineCount users online:</p>
    @foreach (User user in Model.PlayersOnline)
    {
        <a href="/user/@user.UserId" title="@user.Status.ToString()">@user.Username</a>
    }
}