@page "/passwordResetRequest"
@using LBPUnion.ProjectLighthouse.Localization.StringLists
@model LBPUnion.ProjectLighthouse.Servers.Website.Pages.PasswordResetRequestForm

@{
    Layout = "Layouts/BaseLayout";
    Model.Title = "Password Reset";
}             
        
@if (!string.IsNullOrWhiteSpace(Model.Error))
{
    <div class="ui negative message">
        <div class="header">
            @Model.Translate(GeneralStrings.Error)
        </div>
        <p style="white-space: pre-line">@Model.Error</p>
    </div>
}
         
@if (!string.IsNullOrWhiteSpace(Model.Status))
{
    <div class="ui positive message">
        <div class="header">
            @Model.Translate(GeneralStrings.Success)
        </div>
        <p style="white-space: pre-line">@Model.Status</p>
    </div>
}

<form class="ui form" method="post">
    @Html.AntiForgeryToken() 

    <input type="text" autocomplete="no" id="email" placeholder="@Model.Translate(GeneralStrings.Email)" name="email"/><br/><br/>
    <input type="submit" value="Request Password Reset" class="ui blue button"/>
</form>