@page "/admin/keys"
@using LBPUnion.ProjectLighthouse.Types.Entities.Token
@model LBPUnion.ProjectLighthouse.Servers.Website.Pages.Admin.AdminApiKeyPageModel
@{
    Layout = "Layouts/BaseLayout";
    Model.Title = "API Keys";
}

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery
@{
    string? token = Antiforgery.GetAndStoreTokens(HttpContext).RequestToken;
}

<script>function deleteKey(keyID) {
        document.getElementById("trashbutton-".concat(keyID)).classList.add('loading');
        fetch("@Url.RouteUrl(ViewContext.RouteData.Values)", {
            method: 'post',
            headers: {
                "Content-type": "application/x-www-form-urlencoded; charset=UTF-8"
            },
            credentials: 'same-origin',
            body: 'keyID='.concat(keyID).concat("&__RequestVerificationToken=@token")
        })
            .then(function (data) {
                document.getElementById("keyitem-".concat(keyID)).remove();
                window.location.reload(true);
            })
            .catch(function (error) {
                console.log('Request failed', error);
            });

    }</script>

<p>There are <b>@Model.KeyCount</b> API keys registered.</p>
@if (Model.KeyCount == 0)
{
    <p>To create one, you can use the "Create API key" command in the admin panel.</p>
}

<div class="ui four column grid">
    @foreach (ApiKeyEntity key in Model.ApiKeys)
    {
        <div id="keyitem-@key.Id" class="five wide column">
            <div class="ui blue segment">
                <div class="ui tiny bottom left attached label">
                    Created at: @key.Created.ToString()
                </div>
                <button id="trashbutton-@key.Id" class="right floated circular ui icon button" onclick="deleteKey(@key.Id);">
                    <i class="trash can icon"></i>
                </button>
                <h2>@key.Description</h2>
            </div>
        </div>
    }
</div>
