@page "/banned"
@using LBPUnion.ProjectLighthouse.Localization.StringLists
@model LBPUnion.ProjectLighthouse.Servers.Website.Pages.Login.UserBannedPage

@{
    Layout = null;
    Model.Title = Model.Translate(ModerationStrings.BannedHeading);
}

<div class="ui middle aligned left aligned grid" style="padding: 10px;">
    <h1>@Model.Translate(ModerationStrings.BannedHeading)</h1>    
    <div>
        <p>@Model.Translate(ModerationStrings.BannedExplain)</p>
    </div>    
    <div>
        <p>
            <strong>@Model.Translate(ModerationStrings.CaseCreated):</strong>     
            @Model.ModCase.CreatedAt.ToString("dd.MM.yyyy HH:mm:ss") <br />     
            <strong>@Model.Translate(ModerationStrings.CaseExpires):</strong>   
            @Model.ModCase.ExpiresAt?.ToString("dd.MM.yyyy HH:mm:ss")
        </p>
    </div>
    <div>
        <p>
            <strong>@Model.Translate(ModerationStrings.BanReason):</strong>   
            @Model.ModCase.Reason
        </p>
    </div>
    <div>
        <p>
            @Model.Translate(ModerationStrings.AppealInstructions)
        </p>
    </div>
</div>