@page "/banned"
@using LBPUnion.ProjectLighthouse.Localization.StringLists
@model LBPUnion.ProjectLighthouse.Servers.Website.Pages.Login.UserBannedPage

@{
    Layout = null;
    Model.Title = Model.Translate(ModerationStrings.BannedHeading);

    string timeZone = (string?)ViewData["TimeZone"] ?? TimeZoneInfo.Local.Id;
    TimeZoneInfo timeZoneInfo = TimeZoneInfo.FindSystemTimeZoneById(timeZone);
}

<div class="ui middle aligned left aligned">
    <h1>@Model.Translate(ModerationStrings.BannedHeading)</h1>
    <p>@Model.Translate(ModerationStrings.BannedExplain)</p>
    <p>
        <strong>@Model.Translate(ModerationStrings.CaseCreated):</strong>
        @TimeZoneInfo.ConvertTime(Model.ModCase.CreatedAt, timeZoneInfo).ToString("M/d/yyyy @ h:mm tt")) <br />  
        @if (Model.ModCase.ExpiresAt != null)
        {
            <strong>@Model.Translate(ModerationStrings.CaseExpires):</strong>
            @TimeZoneInfo.ConvertTime(Model.ModCase.ExpiresAt.Value, timeZoneInfo).ToString("M/d/yyyy @ h:mm tt")
        }
    </p>
    <p>
        <strong>@Model.Translate(ModerationStrings.BanReason):</strong>   
        @Model.ModCase.Reason
    </p>
    <p>
        @Model.Translate(ModerationStrings.AppealInstructions)
    </p>
</div>